---
layout: inner_title
title: Alumni
navbar: left
dropdown: group
nav_order: 5
---
<div class="container"> <!--Start listings of alumni!-->
    <div class="col-sm-12">
        <h1 >Former Visiting Scholars and Postdocs</h1>
    </div>
    {% assign group_position = "former_postdoc" %}
        {% include member-info.html %}
    
    <div class="col-sm-12">
        <hr class="group-divider">
        <h1 >Former Graduate students</h1>
    </div>
    {% assign group_position = "former_graduate" %}
        {% include member-info.html %}
    
    <div class="col-sm-12">
        <hr class="group-divider">
        <h1 >Former Undergraduates</h1>
    </div>
    {% assign group_position = "former_undergrad" %}
        {% include member-info.html %}
