---
layout: inner_title
title: Publications
navbar: left
nav_order: 3
---
    <div class="container">
{% for paper in site.data.publications %}

            <div class="list-group">
            <a href="{{ paper.link }}" class="list-group-item" target="_blank" target="_blank">
                <div class="container TOC-container">
                    <b>({{ paper.number }})</b> {{ paper.authors }} {{ paper.title }}. <em>{{ paper.journal }}</em> <b>{{ paper.year }}</b>{% if paper.volume %}, <em>{{ paper.volume }}</em>,{% endif %}{% if paper.pages %} {{ paper.pages }}{% endif %}. {% if paper.note %}{{ paper.note }}{% endif %}
                    {% assign image_path = paper.number | append: '.' | prepend: '/TOCs/' %}
                    {% for file in site.static_files %}
                        {% if file.path contains image_path %}
                            <img class="img-responsive center-block" src="{{ file.path | prepend: site.baseurl}}">
                        {% endif %}
                    {% endfor %}
                </div>
            </a>
        </div>
{% endfor %}

    </div>
    <div class="container footer">
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation" class="active">
                    <a href="https://scholar.google.com/scholar?start=0&q=author:JA+author:Prescher&hl=en&as_sdt=0,23&as_ylo=2012" target="_blank">A complete list of our publications</a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>
