---
layout: inner_title
title: Support
navbar: right
nav_order: 9
---
    <div class="container">
        <h3 class="text-center">
            The Prescher lab gratefully acknowledges financial support from the following institutions and agencies:
        </h3>
    </div>

    <div class="container funding-sources">
        <ul class="photo-gallery">
            {% for thing in site.static_files %}
            {% if thing.path contains '/images/funding' %}
                <li><img src="{{ thing.path | prepend: site.baseurl }}"/></li>
            {% endif %}
            {% endfor %}
        </ul>
        <!--
        <div class="row">
            {% for thing in site.static_files %}
            {% if thing.path contains '/images/funding' %}
            <div class="col-xs-6">
                <img class="img-responsive center-block" src="{{ thing.path | prepend: site.baseurl }}" width="300" height="300">
            </div>
            {% endif %}
            {% endfor %}
        </div>
        -->
    </div>

    <div class="container">
        <h3 class="text-center">Interested in supporting us? Check out our <a href="http://benefunder.org/causes/54/jennifer-prescher">Benefunder</a> page.</h3>
    </div>
