---
layout: inner_title
title: Current Group
navbar: left
dropdown: group
nav_order: 4
---
   <div class="container members">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 group-prof jenn-prof">
                <img class="img-circle pull-left" src="{{'/images/group/Prescher.jpg' | prepend: site.baseurl}}" width="200" height="200">
                <h3>Professor Jennifer A. Prescher</h3>
                <!-- TODO: Fix spacing here-->
                <h5>B.S. in Chemistry and Mathematics 2001, University of Wisconsin – La Crosse (Aaron Monte)</h5>
                    <h5>Ph.D. in Chemistry 2006, University of California, Berkeley (Carolyn Bertozzi)</h5>
                    <h5>Susan G. Komen and Molecular Imaging Fellow, Stanford University, 2007 – 2010 (Chris Contag)</h5>
                    <h5>Assistant Professor, 2010 – 2016, University of California, Irvine</h5>
                    <h5>Associate Professor, 2016 - 2018, University of California, Irvine</h5>
                    <h5>Full Professor, 2018 – Present, University of California, Irvine</h5>

            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="jenn-bio">
                <h5><small>Hometown:</small> Blue Earth, MN</h5>
                <h5><small>Scientific Hero:</small> Frederick Sanger, Rolf Huisgen, Stephen Kent</h5>
                <h5><small>Recent Awards:</small> Paul Allen Distinguished Investigator (2021) &#9679; Scialog Fellow (2018) &#9679; UCI Distinguished Assistant Professor Award for Research (2016) &#9679; ACS Women in Chemistry Rising Star (2016) &#9679; Thieme Chemistry Journal Award (2016) &#9679; Novartis Early Career Award in Organic Chemistry (2015) &#9679; Camille and Henry Dreyfus Teacher-Scholar (2015) &#9679; Alfred P. Sloan Research Fellowship (2015) &#9679; NSF CAREER Award (2014) &#9679; Cottrell Scholar (2014) &#9679; Kavli Fellow (2014) &#9679; UCI Outstanding Contributions to Undergraduate Education Award (2013)</h5>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="col-sm-12">
            <hr class="group-divider">
            <h1>Visiting scholars & Postdocs</h1>
        </div>
        {% assign group_position = "postdoc" %}
        {% include member-info.html %}


        <div class="col-sm-12">
            <hr class="group-divider">
            <h1>Graduate students</h1>
        </div>
        {% assign group_position = "graduate" %}
        {% include member-info.html %}

        <div class="col-sm-12">
            <hr class="group-divider">
            <h1>Undergraduate students</h1>
        </div>
        {% assign group_position = "undergrad" %}
        {% include member-info.html %}
        </div>
